@font-face {
    font-family: 'ssf4';
    src: url(../fonts/ssf4_font.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: arial;
}

h1 {
    font-family: 'ssf4';
    color: rgb(255, 102, 102);
}

.form_input {
    border: .1em solid rgb(165,165,165);
    border-radius: .4em;
    padding: .5em;
    outline: none;
} .form_input:focus {
    box-shadow: 0 0 .8em rgb(65,65,65);
    width: 30em;
}

.team_head {
    font-family: 'ssf4';
    color: rgb(255, 102, 102);
    font-size: .9em;
}

th.teams {
    border-bottom: .1em solid rgb(65,65,65);
    color: rgb(165,165,165);
    font-weight: 100;
}
#teams_container table {
    border: .1em dashed rgb(165,165,165);
    text-align: center;
}